<template>
  <div>
    <header>
      <b-navbar toggleable variant="faded" type="light" toggle-breakpoint="md">
        <b-nav-toggle target="nav_collapse"></b-nav-toggle>
        <b-navbar-brand href="#"><router-link to="/">Todo App</router-link></b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
          <!-- Right alignd nav items -->
          <b-nav is-nav-bar class="ml-auto">
            <b-nav-item href="#">{{ username }}</b-nav-item>
            <b-nav-item href="#" v-on:click.once="logOut">Logout</b-nav-item>
          </b-nav>
        </b-collapse>
      </b-navbar>
    </header>
    <div class="container dashboard-container">
      <b-jumbotron>
        <create-todo v-on:create-todo="createTodo"></create-todo>
        <todo-list v-bind:todos="todos"></todo-list>
      </b-jumbotron>
    </div>
  </div>
</template>

<script>
import TodoList from './todos/TodoList'
import CreateTodo from './todos/CreateTodo'
import todoService from '@/utils/todos-service'
import authService from '@/utils/auth-service'
import CONSTANTS from '@/utils/constants'

export default {
  name: 'Dashboard',
  components: {
    TodoList,
    CreateTodo
  },
  data () {
    return {
      todos: [],
      username: '',
      userId: ''
    }
  },
  created () {
    let userObj = authService.userData()
    this.username = userObj.username
    this.userId = userObj.userId
    this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    createTodo (newTodo) {
      let self = this
      newTodo.userId = self.userId
      todoService.createTodo(newTodo).then((data) => {
        if (data) {
          self.todos.push(data)
          // show success msg
          let toast = CONSTANTS.VALIDATION_MSG.ADDED_TODO
          this.$emit('showToast', toast)
        }
      })
      .catch((error) => {
        console.log('Todo creation error: ', error)
      })
    },
    fetchData () {
      let self = this
      self.todos = []
      todoService.createdTodos(this.userId).then((data) => {
        if (data) {
          if (data.length) {
            self.todos = data
          }
        }
      })
      .catch((error) => {
        console.log('Todo list fetch error: ', error)
      })
    },
    logOut () {
      authService.logout()
      this.$router.push('/')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.dashboard-container {
  margin-top: 120px;
}
</style>
