<template>
  <div class="container login-container">
    <div class="row">
      <div class="content col-12 col-sm-12 col-md-12 col-lg-6 col-lg-6">
        <b-form-fieldset id="loginfieldset" :state="state">
          <b-form-input id="txtUsername" v-model="username" :invalid="invalid" :state="state" placeholder="Enter username"></b-form-input>
          <b-button variant="success" :disabled="invalid" v-on:click="gotoDashboard">Sign in</b-button>
        </b-form-fieldset>
      </div>
    </div>
  </div>
</template>

<script>
import authService from '@/utils/auth-service'
import CONSTANTS from '@/utils/constants'
export default {
  name: 'Login',
  data () {
    return {
      username: '',
      initialCheck: 1,
      isInvalidUser: false
    }
  },
  computed: {
    state () {
      let warn = (this.initialCheck) ? '' : 'warning'
      this.initialCheck = 0
      let success = (this.isInvalidUser) ? 'danger' : 'success'
      this.isInvalidUser = false
      return this.username.length ? success : warn
    },
    invalid () {
      return this.username.length ? null : true
    }
  },
  methods: {
    gotoDashboard () {
      let self = this
      authService.login(self.username).then((data) => {
        if (data.length) {
          // move to dashboard for valid user
          self.$router.push('/dashboard')
        } else {
          self.isInvalidUser = true
          // show error msg
          let toast = CONSTANTS.VALIDATION_MSG.INVALID_USERNAME
          self.$emit('showToast', toast)
        }
      })
      .catch((error) => {
        console.log('Authentication error: ', error)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}
.login-container .content {
  border: 1px solid #ffffff;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-container input {
  margin: 40px 0 20px 0;
}
.login-container button {
  float: right;
}
</style>
