<template>
  <div class="toastr-container">
    <transition name="slide-fade">
      <b-alert v-bind:variant="toast.type" :show="dismissCountDown" @dismiss-count-down="countDownChanged">
        {{ toast.msg }}
      </b-alert>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Toastr',
  props: ['toast'],
  data () {
    return {
      dismissCountDown: 0
    }
  },
  methods: {
    showToast () {
      this.dismissCountDown = 2
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.toastr-container {
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 1080;
}
.clear { clear: both; }
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-60px);
  opacity: 0;
}
</style>
