<template>
  <div id="app">
    <toastr v-bind:toast="toast" ref="invoke"></toastr>
    <router-view v-on:showToast="showToast"></router-view>
  </div>
</template>

<script>
import Toastr from '@/components/common/Toastr'
export default {
  name: 'app',
  data () {
    return {
      toast: {}
    }
  },
  components: { Toastr },
  methods: {
    showToast (toast) {
      this.toast = toast
      this.$refs.invoke.showToast()
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
h1, h2 {
  font-weight: normal;
}
a {
  color: #42b983;
}
.body-bg {
  background: url('./assets/background.png');
}
/* added due to some styling customization issues with bootstrap-vue */
.create-todo-content .modal-footer{
  border-top: none;
}
.create-todo-content .modal-footer .btn-primary{
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.todocard .custom-control-input:disabled ~ .custom-control-indicator { background-color: #0275d8; }
</style>
