<template>
  <div class="create-todo-content">
    <div class="btn-container">
      <b-btn v-b-modal.createTodoModal>+</b-btn>
    </div>
    <b-modal id="createTodoModal" @ok="submit" @shown="clearTitle" ok-title="Add" v-bind:ok-disabled="invalid" @cancel="cancel" close-title="Cancel" v-bind:hide-header="hideHead">
      <b-form-fieldset :state="state">
        <b-form-input class="todo-input" v-model="titleText" :state="state" :invalid="invalid" placeholder="Enter todo title"></b-form-input>
      </b-form-fieldset>
    </b-modal>
  </div>  
</template>

<script>
export default {
  data () {
    return {
      titleText: '',
      hideHead: true,
      initialCheck: 1,
      isInvalidUser: false
    }
  },
  computed: {
    state () {
      let warn = (this.initialCheck) ? '' : 'warning'
      this.initialCheck = 0
      return this.titleText.length ? 'success' : warn
    },
    invalid () {
      return this.titleText.length ? null : true
    }
  },
  methods: {
    clearTitle () {
      this.titleText = ''
    },
    submit (e) {
      if (this.titleText.length > 0) {
        const title = this.titleText
        this.$emit('create-todo', {
          title,
          completed: false
        })
        this.titleText = ''
        this.initialCheck = 1
      }
    },
    cancel (e) {
      this.initialCheck = 1
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.create-todo-content {
  margin-bottom: 20px;
}
.create-todo-content .btn-container {
  text-align: right;
}
.todo-input {
  margin: 30px 0 -20px 0;
}
</style>
