<template>
  <div>
    <div class="left overall-info">
      <span>Completed Tasks: </span>
      <b-badge pill variant="success">
        {{todos.filter(todo => {return todo.completed === true}).length}}
      </b-badge>
    </div>
    <div class="right overall-info">
      <span>Pending Tasks: </span>
      <b-badge pill variant="danger">
        {{todos.filter(todo => {return todo.completed === false}).length}}
      </b-badge>
    </div>
    <div class="clear"></div>
    <div class="container">
      <div class="row">
        <todo v-on:complete-todo="completeTodo" v-for="todo in todos" :todo.sync="todo"></todo>
      </div>
    </div>
    <!-- <b-card-group deck>
      <todo v-on:complete-todo="completeTodo" v-for="todo in todos" :todo.sync="todo"></todo>
    </b-card-group> -->
  </div>
</template>

<script>
import Todo from './Todo'
import todoService from '@/utils/todos-service'
import CONSTANTS from '@/utils/constants'

export default {
  props: ['todos'],
  components: {
    Todo
  },
  methods: {
    completeTodo (todo) {
      todoService.updateTodo(todo).then((data) => {
        if (data) {
          // show success msg
          let toast = CONSTANTS.VALIDATION_MSG.UPDATED_TODO
          this.$parent.$parent.$emit('showToast', toast)
        }
      })
      .catch((error) => {
        console.log('Update todo error: ', error)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.overall-info span.badge { font-size: 16px; }
</style>
