<template>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="todocard" v-bind:class="{ deactivated: isCompleted }" v-on:click.prevent="completeTodo(todo)">
      <div class="shape">
        <div class="shape-text">
          <div>
            <b-form-checkbox v-model="isCompleted" v-bind:disabled="isCompleted"></b-form-checkbox> 
          </div>
        </div>
      </div>
      <div class="todocard-content">
        <h3 class="lead">
          {{ todo.title }}
        </h3>           
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['todo'],
  data () {
    return {
      isCompleted: false
    }
  },
  created () {
    this.isCompleted = this.todo.completed
  },
  methods: {
    completeTodo (todo) {
      if (this.isCompleted) {
        this.isCompleted = false
      } else {
        this.isCompleted = true
      }
      todo.completed = this.isCompleted
      this.$emit('complete-todo', todo)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.shape{    
  float:right; 
  position:relative; 
  top:2px;
}
.todocard{
  background: #fff; 
  border:1px solid #ddd; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
  margin: 15px 0; 
  overflow:hidden;
  min-height: 200px;
}
.todocard:hover {
  -webkit-transform: scale(1.1); 
  -moz-transform: scale(1.1); 
  -ms-transform: scale(1.1); 
  -o-transform: scale(1.1); 
  transform:rotate scale(1.1); 
  -webkit-transition: all 0.4s ease-in-out; 
  -moz-transition: all 0.4s ease-in-out; 
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.todocard.deactivated {  
  border-left: 3px solid #428bca; 
  border-bottom: 3px solid #428bca;
}
.todocard.deactivated .custom-control-indicator {
  background: #428bca; 
}
.shape-text{
  color:#fff; 
  font-size:12px; 
  font-weight:bold; 
  white-space: nowrap;
} 
.todocard-content{
  clear: both;
  padding:20px 20px 10px;
}
@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    width: 25%;
  }
}
</style>
